@tailwind base;
@tailwind components;
@tailwind utilities;

#truckItems::-webkit-scrollbar{
    height: 10px;
}
#truckItems::-webkit-scrollbar-track{
    margin-left: 20px;
}
#truckItems::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 100vh;
}
html{
    scroll-behavior: smooth;
}
/* React Slicl Carosuel */

@media only screen and (min-width: 0){
    .slick-slide > div{
        margin: 0 10px;
    }
}